{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
	img.card-img-top { cursor: pointer }
	.nomargin { margin: 0 }
	.flex5 { -webkit-column-count: 5; column-count: 5 }
	.flex2 { -webkit-column-count: 2; column-count: 2 }
	.flex1 { -webkit-column-count: 1; column-count: 1 }
	/* FLEX
	section > .card {
		min-width: 24%;
		max-width: 24%;
	}

	.contentholder {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
	}
	*/

	/*
	GRID
	*/
	section > .card {
	  padding: 1em;
	  border: 1px solid #fff;
	}

	.contentholder {
	  display: grid;
	  grid-template-areas: "a b c d"
						   "k l m n";
	}
</style>
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">Reactor gallery</h1>
		<p class="lead">Галерея пикч из джойреакторовского тега <i>"красивые картинки"</i>.</p>
		<p class="text-muted">Чтобы скачать изображение, <b>кликайте</b> по нему. <i>Simple.</i></p>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col"></div>
		<div class="col-12">
			<section class="contentholder">
			</section>
		</div>
		<div class="col"></div>
	</div>
	<br>
	<br>
	<div class="col">
		<button id="lbt" class="btn btn-success col" onclick="upd()" hidden>Load more!</button>
		<br>
		<div id="prog" class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
		</div>
	</div>
	<br>

	<script type="application/javascript">
	var load_btn = $("button#lbt")[0];
	var prog_bar = $("div#prog")[0];
	var tag = "красивые+картинки";

	function getImages(tag, page) {
		return new Promise(function(resolve, reject) {
			load_btn.hidden = true;
			prog_bar.hidden = false;
			var req_data = {
				mode: "reactorparser",
				tag: tag,
				page: page
			}
			console.log(req_data);
			$.ajax({
				type: 'GET',
				url: '/acollection',
				data: req_data,
				encode: true
			}).done(function(data) {
				load_btn.hidden = false;
				prog_bar.hidden = true;
				resolve(data);
			}).fail(function(data) {
				alert("Something went wrong. Check console or network tab in dev tools for more info.");
				load_btn.hidden = false;
				prog_bar.hidden = true;
				reject(new Error(data));
			});
		});
	}

	function generateCard(post) {
		var author = post.author;
		var tags = post.tags;
		var images = post.images;

		var div = document.createElement("div");
		div.className = "card";
		div.style = {
			width: "20rem"
		};

		var div_ch = document.createElement("div");
		div_ch.className = "row card-header nomargin";
		var img_ava = document.createElement("img");
		img_ava.className = "rounded mr-2";
		img_ava.src = author.avatar;
		img_ava.alt = author.nick;
		div_ch.appendChild(img_ava);
		div_ch.append(author.nick);
		div.appendChild(div_ch);


		images.forEach(function(image) {
			var a = document.createElement("a");
			a.href = image;
			a.download = true;
			var img = document.createElement("img");
			img.className = "card-img-top";
			img.src = image;
			a.appendChild(img);
			div.appendChild(a);
			div.appendChild(document.createElement("br"))
		});

		var div_cb = document.createElement("div");
		div_cb.className = "card-body";
		var p_ct = document.createElement("p");
		p_ct.className = "card-text";

		tags.forEach(function(tag) {
			var span_tag = document.createElement("span");
			span_tag.className = "badge badge-light";
			span_tag.textContent = tag;
			div_cb.appendChild(span_tag);
			div_cb.append(" ");
		});
		div_cb.appendChild(p_ct);
		div.appendChild(div_cb);
		$("section.contentholder").append(div);
	}

	var parsed_json, posts, nextPage
	getImages(tag, "latest")
		.then(function(response) {
			parsed_json = user = JSON.parse(response);
			posts = parsed_json.posts;
			nextPage = parsed_json.lp-1;
			posts.forEach(function(entry) {
				generateCard(entry);
			});
		})
		.catch(console.log);

	$(window).scroll(function() {
		if ($(window).scrollTop() == $(document).height() - $(window).height()) {
			if (nextPage > 1) {
				upd();
			}
		}
	});

	function upd() {
		getImages(tag, nextPage)
			.then(function(response) {
				parsed_json = user = JSON.parse(response);
				posts = parsed_json.posts;
				posts.forEach(function(entry) {
					generateCard(entry);
				});
			}).catch(console.log);
		nextPage--;
		console.log(nextPage);
	};
	
	function changeTag(tg){
		tag = tg;
		$("section.contentholder").html('');
		getImages(tag, "latest");
	};
</script>
</div>
{% endblock %}
