{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script type="application/javascript">
function uplwurl() {
	console.log("sending request");
	var form = $('div#fuwrl')[0];
	formData = {
		mode: form.children[0].value,
		u: form.children[1].children[1].value
	}
	$.ajax({
		type: 'GET',
		url: '/acollection',
		data: formData,
		encode: true
	}).done(function(data) {
		console.log(data);
		$("span#spd")[0].innerText = data
	});
}

function chkbycode() {
	console.log("sending request");
	var form = $('div#fubl')[0];
	formData = {
		mode: form.children[0].value,
		id: form.children[1].children[1].value
	}
	$.ajax({
		type: 'GET',
		url: '/acollection',
		data: formData,
		encode: true
	}).done(function(data) {
		console.log(data);
		$("span#sstat")[0].innerText = data
	});
}
</script>
<div class="container">
	<div class="alert alert-info text-center" role="alert">
		<h3>Upload file with link</h3>
		<div id="fuwrl">
			<input name="mode" value="ubl" hidden>
			<div class="input-group">
				<span class="input-group-btn">
					<button onclick="uplwurl()" class="btn btn-secondary" type="button">Go!</button>
				</span>
				<input placeholder="URL" class="form-control" type="text" name="u" required>
			</div>
		</div>
		<button onclick="uplwurl()" class="btn btn-success">UPLOAD!</button>
		<p><b>Your operation id:</b><br>
			<span id="spd"></span>
		</p>
	</div>
	<hr>
	<div class="alert alert-info text-center" role="alert">
		<h3>Check async operation</h3>
		<div id="fubl">
			<input name="mode" value="chk" hidden>
			<div class="input-group">
				<span class="input-group-btn">
					<button onclick="chkbycode()" class="btn btn-secondary" type="button">CHECK!</button>
				</span>
				<input class="form-control" type="text" name="id" required>
			</div>
		</div>
		<button onclick="chkbycode()" class="btn btn-success">Submit</button>
		<p><b>Status:</b><br>
			<span id="sstat"></span>
		</p>
	</div>
</div>
{% endblock %}