<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PoH</title>
		<link rel="icon" href="img/favicon.ico">
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
		<style>
			.uk-container-small {
				max-width: 1020px;
			}
		</style>
	</head>
	<body>
		<div class="uk-section-secondary">
			<div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
				<div class="uk-container">
					<div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid="">
						<div class="uk-text-small uk-text-muted uk-first-column">
							Copyright 2018-2019 Caffeine Agency - All rights reserved.
						</div>
						<div class="uk-text-small uk-text-muted uk-text-center uk-text-right@s">Created by Nuark | Built with <a href="http://getuikit.com" title="" target="_blank" data-uk-tooltip="" aria-expanded="false"><span data-uk-icon="uikit" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="uikit"><polygon points="14.4,3.1 11.3,5.1 15,7.3 15,12.9 10,15.7 5,12.9 5,8.5 2,6.8 2,14.8 9.9,19.5 18,14.8 18,5.3"></polygon><polygon points="9.8,4.2 6.7,2.4 9.8,0.4 12.9,2.3"></polygon></svg></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="uk-section">
			<div class="uk-container uk-container-small">
                {% block content %}{% endblock %}
			</div>
		</section>
		
		<!-- JS FILES -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>

	</body>
</html>