{% extends "base.html" %}

{% block content %}
<header class="uk-text-center">
	<h1 class="uk-heading-primary">Hello, I am front page</h1>
	<p class="uk-width-3-5 uk-margin-auto"><a href="https://blog.nuark.xyz" target="_blank">Blog</a> | <a href="https://t.me/Nuark" target="_blank">Telegram</a> | <a href="https://steamcommunity.com/id/nuarknoir/" target="_blank">Steam</a> | <a href="https://steamcommunity.com/tradeoffer/new/?partner=248671948&token=74z3Occs" target="_blank">Steam trade link</a> | <a href="https://play.google.com/store/apps/developer?id=Nuark%27s+Caffeine+Agency" target="_blank">Google Play Developer</a></p>
</header>
{% endblock %}
